header {
    background-color: sienna;
}

#titulo {
    font-family: 'Lora', serif;
    font-size: 75px;
    text-align:center;
    color:white;
    margin-bottom: 0;
}

#nombre {
    text-align: center;
    border-style: outset;
    border-color: lightgray;
}

#foto {
    margin-left: 41%;
}

#datos-personales {
    text-decoration: underline;
}

#educacion, #laboral, #referencias {
    text-decoration-line: underline;
    margin-left: 2%;
    display: none;
}

.lista {
    list-style-type:square;
    margin-left: 2%;
    border-style: dotted;
    border-color: black;
}


.botones {
    display: block;
    margin-left: 45%;
    background-color: blue;
    color:white;
    border: solid;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.botones:hover {
    background-color: rgb(52, 52, 227);
    color: white;
  }

#aceptacion, #rechazo {
    display: none;
}

.botones-mensajes {
    display: block;
    background-color: darkslategrey;
    color:black;
    border: black, solid;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

#email {
    box-sizing: border-box;
}

footer {
    background-color: sienna;
    color: white;
    margin-top: 2%;
}

#copyright {
    text-align: right;
    font-size: 12px;
    margin-right: 1%;
}