button {
    display: block;
    margin-left: 45%;
    background-color: blue;
    color:white;
    border: solid;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(52, 52, 227);
    color: white;
  }

#titulo {
    font-family: 'Lora', serif;
    font-size: 75px;
    text-align:center;
    background-color: sienna;
    color:white;
}

#nombre {
    text-align: center;
    border-style: outset;
    border-color: lightgray;
}

#foto {
    margin-left: 45%;
}

#educacion, #laboral {
    text-decoration-line: underline;
    margin-left: 2%;
    display: none;
}

.lista {
    list-style-type:square;
    margin-left: 2%;
    border-style: dotted;
    border-color: black;
}
